In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
cxt = ['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [3]:
AIM_ig_m = pd.read_csv('AIM_ig_m.csv', index_col=[0])
CAS_ig_m = pd.read_csv('CAS_ig_m.csv', index_col=[0])
COVSAL_ig_m = pd.read_csv('COVSAL_ig_m.csv', index_col=[0])
GBVS_ig_m = pd.read_csv('GBVS_ig_m.csv', index_col=[0])
ICF_ig_m = pd.read_csv('ICF_ig_m.csv', index_col=[0])
IK_ig_m = pd.read_csv('IK_ig_m.csv', index_col=[0])
SUN_ig_m = pd.read_csv('SUN_ig_m.csv', index_col=[0])

AIM_ig_s = pd.read_csv('AIM_ig_s.csv', index_col=[0])
CAS_ig_s = pd.read_csv('CAS_ig_s.csv', index_col=[0])
COVSAL_ig_s = pd.read_csv('COVSAL_ig_s.csv', index_col=[0])
GBVS_ig_s = pd.read_csv('GBVS_ig_s.csv', index_col=[0])
ICF_ig_s = pd.read_csv('ICF_ig_s.csv', index_col=[0])
IK_ig_s = pd.read_csv('IK_ig_s.csv', index_col=[0])
SUN_ig_s = pd.read_csv('SUN_ig_s.csv', index_col=[0])

In [4]:
CAS_ig_m

                 cas  cas_face_03  cas_face_05  cas_face_07
all         3.927179     4.027855     4.078112     4.093553
person      3.881751     3.985518     4.037827     4.056146
no person   5.341018     5.345462     5.331894     5.257730
animal      3.860390     3.926650     3.957284     3.936792
sports      4.273431     4.344601     4.389391     4.354157
electronic  3.921292     4.011471     4.047198     4.047661

## Save per metric

### Mean value

In [5]:
labels = ['aim', 'cas','covsal','gbvs','icf','ik','sun',]

In [6]:
no_face = [
  AIM_ig_m['aim'].tolist(), 
  CAS_ig_m['cas'].tolist(),
  COVSAL_ig_m['covsal'].tolist(),
  GBVS_ig_m['gbvs'].tolist(),
  ICF_ig_m['icf'].tolist(),
  IK_ig_m['ik'].tolist(),
  SUN_ig_m['sun'].tolist(),
  ICF_ig_m['dg'].tolist(),
  ]

face_03 = [
  AIM_ig_m['aim_face_03'].tolist(), 
  CAS_ig_m['cas_face_03'].tolist(),
  COVSAL_ig_m['covsal_face_03'].tolist(),
  GBVS_ig_m['gbvs_face_03'].tolist(),
  ICF_ig_m['icf_face_03'].tolist(),
  IK_ig_m['ik_face_03'].tolist(),
  SUN_ig_m['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_ig_m['aim_face_05'].tolist(), 
  CAS_ig_m['cas_face_05'].tolist(),
  COVSAL_ig_m['covsal_face_05'].tolist(),
  GBVS_ig_m['gbvs_face_05'].tolist(),
  ICF_ig_m['icf_face_05'].tolist(),
  IK_ig_m['ik_face_05'].tolist(),
  SUN_ig_m['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_ig_m['aim_face_07'].tolist(), 
  CAS_ig_m['cas_face_07'].tolist(),
  COVSAL_ig_m['covsal_face_07'].tolist(),
  GBVS_ig_m['gbvs_face_07'].tolist(),
  ICF_ig_m['icf_face_07'].tolist(),
  IK_ig_m['ik_face_07'].tolist(),
  SUN_ig_m['sun_face_07'].tolist(),
  ]

In [7]:
ICF_ig_m

                 icf  icf_face_03  icf_face_05  icf_face_07        dg
all         4.050198     4.068142     4.045329     3.818405  2.857174
person      4.006282     4.025191     4.002429     3.775314  2.807331
no person   5.416973     5.404891     5.380489     5.159526  4.408419
animal      3.954142     3.938824     3.893184     3.450826  2.892242
sports      4.072085     4.074687     3.989033     3.596942  2.157273
electronic  4.056134     4.070766     4.038554     3.821658  2.979467

In [8]:
IG_mean_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
IG_mean_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
IG_mean_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
IG_mean_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [9]:
IG_mean_noface

             all    person  no person    animal    sports  electronic
aim     0.000000  0.000000   0.000000  0.000000  0.000000    0.000000
cas     3.927179  3.881751   5.341018  3.860390  4.273431    3.921292
covsal  3.311407  3.276443   4.399565  3.253331  3.278144    3.326063
gbvs    4.230526  4.184416   5.665586  4.217896  4.393630    4.245377
icf     4.050198  4.006282   5.416973  3.954142  4.072085    4.056134
ik      3.646780  3.597596   5.161459  3.545566  3.826508    3.637821
sun     3.628948  3.580300   5.143002  3.472484  3.741193    3.647285
dg      2.857174  2.807331   4.408419  2.892242  2.157273    2.979467

### Std

In [10]:
no_face = [
  AIM_ig_s['aim'].tolist(), 
  CAS_ig_s['cas'].tolist(),
  COVSAL_ig_s['covsal'].tolist(),
  GBVS_ig_s['gbvs'].tolist(),
  ICF_ig_s['icf'].tolist(),
  IK_ig_s['ik'].tolist(),
  SUN_ig_s['sun'].tolist(),
  ICF_ig_s['dg'].tolist(),
  ]

face_03 = [
  AIM_ig_s['aim_face_03'].tolist(), 
  CAS_ig_s['cas_face_03'].tolist(),
  COVSAL_ig_s['covsal_face_03'].tolist(),
  GBVS_ig_s['gbvs_face_03'].tolist(),
  ICF_ig_s['icf_face_03'].tolist(),
  IK_ig_s['ik_face_03'].tolist(),
  SUN_ig_s['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_ig_s['aim_face_05'].tolist(), 
  CAS_ig_s['cas_face_05'].tolist(),
  COVSAL_ig_s['covsal_face_05'].tolist(),
  GBVS_ig_s['gbvs_face_05'].tolist(),
  ICF_ig_s['icf_face_05'].tolist(),
  IK_ig_s['ik_face_05'].tolist(),
  SUN_ig_s['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_ig_s['aim_face_07'].tolist(), 
  CAS_ig_s['cas_face_07'].tolist(),
  COVSAL_ig_s['covsal_face_07'].tolist(),
  GBVS_ig_s['gbvs_face_07'].tolist(),
  ICF_ig_s['icf_face_07'].tolist(),
  IK_ig_s['ik_face_07'].tolist(),
  SUN_ig_s['sun_face_07'].tolist(),
  ]

In [11]:
IG_std_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
IG_std_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
IG_std_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
IG_std_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [12]:
IG_std_noface

             all    person  no person    animal    sports  electronic
aim     0.000000  0.000000   0.000000  0.000000  0.000000    0.000000
cas     2.839629  2.812849   3.272845  3.136531  2.754038    2.851266
covsal  1.752651  1.730419   2.063897  1.875848  1.684236    1.777881
gbvs    2.657078  2.632157   3.006107  2.930254  2.557873    2.692117
icf     2.822537  2.792786   3.352325  3.163002  2.932778    2.835193
ik      2.803590  2.774152   3.247742  3.213680  2.672874    2.857514
sun     2.915937  2.887701   3.352152  3.192956  2.877367    2.924672
dg      3.658097  3.638366   3.921542  4.005430  4.884248    3.424892

In [13]:
IG_std_noface.to_csv('IG_std_noface.csv')
IG_std_face_03.to_csv('IG_std_face_03.csv')
IG_std_face_05.to_csv('IG_std_face_05.csv')
IG_std_face_07.to_csv('IG_std_face_07.csv')

IG_mean_noface.to_csv('IG_mean_noface.csv')
IG_mean_face_03.to_csv('IG_mean_face_03.csv')
IG_mean_face_05.to_csv('IG_mean_face_05.csv')
IG_mean_face_07.to_csv('IG_mean_face_07.csv')

## Calculate means

In [14]:
A = IG_mean_noface.values
A = A[:-1,:]
B = IG_mean_face_03.values
C = IG_mean_face_05.values
D = IG_mean_face_07.values

In [15]:
X = np.dstack([A, B, C, D])

### Mean over contexts

In [16]:
mean_models = (X.mean(axis=1))

IG_mean_models = pd.DataFrame(data=mean_models, columns=[0, 0.3, 0.5, 0.7], index=labels)
IG_mean_models

             0.0       0.3       0.5       0.7
aim     0.000000  0.000000  0.000000  0.000000
cas     4.200844  4.273593  4.306951  4.291006
covsal  3.474159  3.521217  2.899933  1.890298
gbvs    4.489572  4.545939  4.577486  4.571560
icf     4.259302  4.263750  4.224836  3.937112
ik      3.902622  3.742194  3.652227  3.448696
sun     3.868869  4.004753  4.044463  4.011033

### Mean over models

In [17]:
mean_cxt = (X.mean(axis=0))

IG_mean_cxt = pd.DataFrame(data=mean_cxt, columns=[0, 0.3, 0.5, 0.7], index=cxt)
IG_mean_cxt

                 0.0       0.3       0.5       0.7
all         3.256434  3.302714  3.234094  3.051002
person      3.218112  3.266519  3.200971  3.022866
no person   4.446800  4.429190  4.264973  3.926656
animal      3.186259  3.266790  3.186006  2.973480
sports      3.369284  3.295507  3.194755  2.966077
electronic  3.261996  3.311947  3.238541  3.045381

In [18]:
IG_mean_cxt.to_csv('IG_mean_cxt.csv')
IG_mean_models.to_csv('IG_mean_models.csv')